USE [LINHKIENMAYTINH]
GO
/****** Object:  Table [dbo].[CASE]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASE](
	[maSanPham] [nchar](20) NOT NULL,
	[chatLieu] [nvarchar](20) NULL,
	[mau] [nvarchar](20) NULL,
	[tuongThich] [nvarchar](20) NULL,
 CONSTRAINT [PK_CASE] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[soLuongMua] [int] NULL,
	[maSanPham] [nchar](20) NOT NULL,
	[maHoaDon] [nchar](20) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC,
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConNguoi]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConNguoi](
	[ma] [nchar](20) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[sdt] [nchar](15) NULL,
	[gioiTinh] [bit] NULL,
	[email] [nchar](50) NULL,
	[diaChi] [nvarchar](50) NULL,
	[loai] [nvarchar](20) NULL,
 CONSTRAINT [PK_ConNguoi] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[maSanPham] [nchar](20) NOT NULL,
	[soLoi] [int] NULL,
	[soLuong] [int] NULL,
	[tanSoCoSo] [float] NULL,
	[tanSoTurbo] [float] NULL,
	[boNhoDem] [int] NULL,
	[boNhoToiDa] [int] NULL,
 CONSTRAINT [PK_CPU] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nchar](20) NOT NULL,
	[ngayLapHoaDon] [date] NULL,
	[tienKhachTra] [float] NULL,
	[hinhThucThanhToan] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](50) NULL,
	[thueVAT] [float] NULL,
	[maKhachHang] [nchar](20) NULL,
	[maNhanVien] [nchar](20) NULL,
	[giamGia] [float] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ma] [nchar](20) NOT NULL,
	[diemTichLuy] [float] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAIN]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAIN](
	[maSanPham] [nchar](20) NOT NULL,
	[chipSet] [nvarchar](50) NULL,
	[ramHoTro] [nvarchar](50) NULL,
	[cpuHoTro] [nvarchar](50) NULL,
	[doHoa] [nvarchar](50) NULL,
	[oCungHoTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAIN] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ma] [nchar](20) NOT NULL,
	[chucVu] [nvarchar](50) NULL,
	[cmnd] [nchar](20) NULL,
	[matKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSU]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSU](
	[maSanPham] [nchar](20) NOT NULL,
	[congSuat] [int] NULL,
	[hieuSuat] [int] NULL,
	[tuoiTho] [int] NULL,
 CONSTRAINT [PK_PSU] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAM]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAM](
	[maSanPham] [nchar](20) NOT NULL,
	[dungLuong] [int] NULL,
	[tocDo] [int] NULL,
 CONSTRAINT [PK_RAM] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [nchar](20) NOT NULL,
	[tenSanPham] [nvarchar](50) NULL,
	[giaBan] [float] NULL,
	[soLuongTonKho] [int] NULL,
	[nhaSanXuat] [nvarchar](50) NULL,
	[ngaySanXuat] [date] NULL,
	[baoHanh] [int] NULL,
	[giaNhap] [float] NULL,
	[giamGia] [int] NULL,
	[loaiSanPham] [nchar](10) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VGA]    Script Date: 5/3/2023 6:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VGA](
	[maSanPham] [nchar](20) NOT NULL,
	[tienTrinh] [int] NULL,
	[TDP] [int] NULL,
	[cudaCores] [int] NULL,
 CONSTRAINT [PK_VGA] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CASE] ([maSanPham], [chatLieu], [mau], [tuongThich]) VALUES (N'SP1                 ', N'Thép', N'Đen', N'
44 x 21.2 x 43 cm')
INSERT [dbo].[CASE] ([maSanPham], [chatLieu], [mau], [tuongThich]) VALUES (N'SP3                 ', N'Thép, nhựa', N'Đen', N'
440 mm x 180 mm')
INSERT [dbo].[CASE] ([maSanPham], [chatLieu], [mau], [tuongThich]) VALUES (N'SP4                 ', N'Thép, kính', N'Đen', N'
373 x 182 x 420 mm')
GO
INSERT [dbo].[ChiTietHoaDon] ([soLuongMua], [maSanPham], [maHoaDon]) VALUES (1, N'SP12                ', N'HD2                 ')
INSERT [dbo].[ChiTietHoaDon] ([soLuongMua], [maSanPham], [maHoaDon]) VALUES (1, N'SP14                ', N'HD4                 ')
INSERT [dbo].[ChiTietHoaDon] ([soLuongMua], [maSanPham], [maHoaDon]) VALUES (2, N'SP17                ', N'HD3                 ')
GO
INSERT [dbo].[ConNguoi] ([ma], [ten], [sdt], [gioiTinh], [email], [diaChi], [loai]) VALUES (N'KH0                 ', N'Khách Hàng Lẻ', N'rỗng           ', 0, N'rỗng                                              ', N'rỗng', N'KhachHang')
INSERT [dbo].[ConNguoi] ([ma], [ten], [sdt], [gioiTinh], [email], [diaChi], [loai]) VALUES (N'KH1                 ', N'Nguyễn Thị A', N'0985442697     ', 0, N'vidu@gmail.com                                    ', N'Tân Phú', N'KhachHang')
INSERT [dbo].[ConNguoi] ([ma], [ten], [sdt], [gioiTinh], [email], [diaChi], [loai]) VALUES (N'KH2                 ', N'Văn B', N'0374845876     ', 1, N'vidu1@gmail.com                                   ', N'Bình Chánh', N'KhachHang')
GO
INSERT [dbo].[CPU] ([maSanPham], [soLoi], [soLuong], [tanSoCoSo], [tanSoTurbo], [boNhoDem], [boNhoToiDa]) VALUES (N'SP11                ', 24, 32, 6, 6, 36, 128)
INSERT [dbo].[CPU] ([maSanPham], [soLoi], [soLuong], [tanSoCoSo], [tanSoTurbo], [boNhoDem], [boNhoToiDa]) VALUES (N'SP12                ', 24, 32, 6, 6, 36, 128)
INSERT [dbo].[CPU] ([maSanPham], [soLoi], [soLuong], [tanSoCoSo], [tanSoTurbo], [boNhoDem], [boNhoToiDa]) VALUES (N'SP13                ', 24, 32, 5.8, 4.3, 36, 128)
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHoaDon], [tienKhachTra], [hinhThucThanhToan], [ghiChu], [thueVAT], [maKhachHang], [maNhanVien], [giamGia]) VALUES (N'HD1                 ', CAST(N'2023-05-03' AS Date), 3800000, N'Tiền mặt', N'Trống', 0.1, N'KH3                 ', N'NV5                 ', 50000)
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHoaDon], [tienKhachTra], [hinhThucThanhToan], [ghiChu], [thueVAT], [maKhachHang], [maNhanVien], [giamGia]) VALUES (N'HD2                 ', CAST(N'2023-05-03' AS Date), 19280000, N'Quẹt thẻ', N'Trống', 0.1, N'KH1                 ', N'NV5                 ', 300000)
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHoaDon], [tienKhachTra], [hinhThucThanhToan], [ghiChu], [thueVAT], [maKhachHang], [maNhanVien], [giamGia]) VALUES (N'HD3                 ', CAST(N'2023-05-03' AS Date), 6400000, N'Tiền mặt', N'hàng dùng oke', 0.1, N'KH1                 ', N'NV5                 ', 300000)
GO
INSERT [dbo].[KhachHang] ([ma], [diemTichLuy]) VALUES (N'KH0                 ', 0)
INSERT [dbo].[KhachHang] ([ma], [diemTichLuy]) VALUES (N'KH1                 ', 1300)
INSERT [dbo].[KhachHang] ([ma], [diemTichLuy]) VALUES (N'KH2                 ', 0)
GO
INSERT [dbo].[MAIN] ([maSanPham], [chipSet], [ramHoTro], [cpuHoTro], [doHoa], [oCungHoTro]) VALUES (N'SP21                ', N'AMD B650', N'hỗ trợ bộ nhớ 128 GB', N'AMD Socket AM5, hỗ trợ: Bộ xử lý AMD Ryzen 7000', N'hỗ trợ độ phân giải tối đa 3840x2160 - 144 Hz', N'DDR5 6600(OC) / 6400(OC) / 6200(OC) / 6000(OC)')
INSERT [dbo].[MAIN] ([maSanPham], [chipSet], [ramHoTro], [cpuHoTro], [doHoa], [oCungHoTro]) VALUES (N'SP22                ', N'AMD B650', N'Dung lượng tối đa: 128GB', N'Bộ vi xử lý dòng AMD Socket AM5 Ryzen 7000', N'Hỗ trợ HDCP: tối đa độ phân giải 4K 60Hz.', N'Hỗ trợ EXTended Profiles for Overclocking (EXPO)')
INSERT [dbo].[MAIN] ([maSanPham], [chipSet], [ramHoTro], [cpuHoTro], [doHoa], [oCungHoTro]) VALUES (N'SP23                ', N'AMD B650', N'Dung lượng tối đa: 128GB', N'AMD Socket AM5, hỗ trợ cho: AMD Ryzen 7000', N'1 x DisplayPort, hỗ trợ độ phân giải 3840x2160', N'DDR5 6400(OC) / 6200(OC) / 6000(OC) / 5600(OC)')
GO
INSERT [dbo].[NhanVien] ([ma], [chucVu], [cmnd], [matKhau]) VALUES (N'NV1                 ', N'Nhân viên', N'212856027           ', N'123456')
INSERT [dbo].[NhanVien] ([ma], [chucVu], [cmnd], [matKhau]) VALUES (N'NV2                 ', N'Nhân viên', N'123456789           ', N'123456')
INSERT [dbo].[NhanVien] ([ma], [chucVu], [cmnd], [matKhau]) VALUES (N'NV3                 ', N'Nhân viên', N'123456789           ', N'123456')
GO
INSERT [dbo].[PSU] ([maSanPham], [congSuat], [hieuSuat], [tuoiTho]) VALUES (N'SP31                ', 650, 80, 5)
INSERT [dbo].[PSU] ([maSanPham], [congSuat], [hieuSuat], [tuoiTho]) VALUES (N'SP32                ', 750, 85, 7)
INSERT [dbo].[PSU] ([maSanPham], [congSuat], [hieuSuat], [tuoiTho]) VALUES (N'SP33                ', 850, 90, 10)
GO
INSERT [dbo].[RAM] ([maSanPham], [dungLuong], [tocDo]) VALUES (N'SP51                ', 16, 100)
INSERT [dbo].[RAM] ([maSanPham], [dungLuong], [tocDo]) VALUES (N'SP52                ', 32, 900)
INSERT [dbo].[RAM] ([maSanPham], [dungLuong], [tocDo]) VALUES (N'SP53                ', 32, 800)
GO
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [soLuongTonKho], [nhaSanXuat], [ngaySanXuat], [baoHanh], [giaNhap], [giamGia], [loaiSanPham]) VALUES (N'SP1                 ', N'Case máy tính Sama Shadow', 1000000, 5, N'ACER', CAST(N'2003-08-16' AS Date), 12, 800000, 100000, N'CASE      ')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [soLuongTonKho], [nhaSanXuat], [ngaySanXuat], [baoHanh], [giaNhap], [giamGia], [loaiSanPham]) VALUES (N'SP10                ', N'Thùng máy/ Case MSI MPG VELOX 100P AIRFLOW', 3600000, 16, N'HP', CAST(N'2007-12-10' AS Date), 12, 3400000, 100000, N'CASE      ')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [soLuongTonKho], [nhaSanXuat], [ngaySanXuat], [baoHanh], [giaNhap], [giamGia], [loaiSanPham]) VALUES (N'SP11                ', N'Intel Xeon E-2236 12MB 3.4GHz', 7800000, 8, N'MSI', CAST(N'2017-02-11' AS Date), 24, 7100000, 100000, N'CPU       ')
GO
INSERT [dbo].[VGA] ([maSanPham], [tienTrinh], [TDP], [cudaCores]) VALUES (N'SP41                ', 7, 20, 4)
INSERT [dbo].[VGA] ([maSanPham], [tienTrinh], [TDP], [cudaCores]) VALUES (N'SP42                ', 7, 18, 3)
INSERT [dbo].[VGA] ([maSanPham], [tienTrinh], [TDP], [cudaCores]) VALUES (N'SP43                ', 10, 15, 6)
GO
ALTER TABLE [dbo].[CASE]  WITH CHECK ADD  CONSTRAINT [FK_CASE_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[CASE] CHECK CONSTRAINT [FK_CASE_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[CPU]  WITH CHECK ADD  CONSTRAINT [FK_CPU_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CPU] CHECK CONSTRAINT [FK_CPU_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang1] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([ma])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang1]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([ma])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ConNguoi] FOREIGN KEY([ma])
REFERENCES [dbo].[ConNguoi] ([ma])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ConNguoi]
GO
ALTER TABLE [dbo].[MAIN]  WITH CHECK ADD  CONSTRAINT [FK_MAIN_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAIN] CHECK CONSTRAINT [FK_MAIN_SanPham]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ConNguoi] FOREIGN KEY([ma])
REFERENCES [dbo].[ConNguoi] ([ma])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ConNguoi]
GO
ALTER TABLE [dbo].[PSU]  WITH CHECK ADD  CONSTRAINT [FK_PSU_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PSU] CHECK CONSTRAINT [FK_PSU_SanPham]
GO
ALTER TABLE [dbo].[RAM]  WITH CHECK ADD  CONSTRAINT [FK_RAM_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RAM] CHECK CONSTRAINT [FK_RAM_SanPham]
GO
ALTER TABLE [dbo].[VGA]  WITH CHECK ADD  CONSTRAINT [FK_VGA_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VGA] CHECK CONSTRAINT [FK_VGA_SanPham]
GO
